html {
  background-color: #696969;
  color: white;
}

.app {
  font-family: 'Poppins', sans-serif;
}

.name {
  font-family: 'Comfortaa', cursive;
}

.name .line {
  display: flex;
}

.project-link {
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.project-link:hover {
  border: 1px solid #00ffff;
  color: #00ffff;
}

.project {
  border: 1px solid white;
  border-radius: 10px;
  transition: ease-in-out 0.4s;
  margin-bottom: 50px;
}

.project:hover {
  margin-top: -10px;
  margin-bottom: 60px;
  /* border: 1px solid #6495ed; */
  box-shadow: 10px 5px 5px black;
}
